.plan-wrapper {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-rows: 20% 65% 10%;
  height: 100%;
  padding: 2rem 5rem;
  row-gap: 0.8rem;
}
.plan-header h3 {
  color: hsl(213, 96%, 18%);
  font-size: 1.5rem;
  padding: 0.6rem 0;
}
.plan-header p {
  color: hsl(231, 11%, 63%);
}
.plan-footer {
  display: flex;
  justify-content: space-between;
}
.plan-footer button:nth-child(2) {
  background: hsl(213, 96%, 18%);
  color: white;
  /* font-weight: 600; */
  padding: 0.6rem 1.3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.plan-footer button:nth-child(1) {
  background: white;
  color: hsl(231, 11%, 63%);
  /* font-weight: 600; */
  /* padding: 0.6rem 1.3rem; */
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.plan-content {
  display: grid;
  grid-template-rows: 60% 20%;
  row-gap: 2rem;
}
.content-boxes {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.content-boxes div {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  padding: 1rem;
}
.content-boxes div:hover{
  cursor: pointer;
  transition: .5s;
  border:1px solid  hsl(243, 100%, 62%);
}
.content-boxes div img {
  padding-bottom: 3rem;
}
.content-boxes div h4 {
  color: hsl(213, 96%, 18%);
  padding: 0.4rem 0;
}
.content-boxes div h6 {
  color: hsl(231, 11%, 63%);
}
.plan-toogle {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-toogle h3 {
  color: hsl(213, 96%, 18%);
}
.plan-toogle h4 {
  color: hsl(231, 11%, 63%);
  font-size: 1.2rem;
}

/* toogle style */
.toogle {
  margin: 0 1rem;
}
.switch {
  --inactive-bg: hsl(213, 96%, 18%);
  --active-bg: hsl(231, 11%, 63%);
  --size: 1.4rem;
  --circle: 1rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--inactive-bg);
  background-image: radial-gradient(
      circle calc(var(--circle) / 2.1),
      #fff 100%,
      #0000 0
    ),
    radial-gradient(circle calc(var(--circle) / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
}
.switch:checked {
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
}
